body {
	text-align: center;
}

#game-space, #play-again{
    display: none;
}
.warning{
	color: Crimson;
}
.win{
	color: RoyalBlue;
	font-size: xx-large;
	font-family: cursive;
}
.correctGuess{
	color: SlateBlue;
}
.quotes{
	font-size: large;
	font-family: sans-serif;
}
